<h1>you are in a maze of twisty little passages, all alike...</h1>
<i>you are likely to be eaten by a grue.</i>
<hr/>
<ul>
  <li><%= link_to "manage scenes", admin_scenes_path %></li>
</ul>
<hr/>
"i can't handle all this responsibility... <%= link_to "get me out of here!", root_path %>"